@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* Color pallete*/
:root{
    --dark-purple: #412234;
    --blue-jeans: #4bb3fd;
    --ivory: #f6f7eb;
    --amber: #ff7f11;
    --onyx: #393e41;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #F6F7EB;
}

a:hover{
    text-decoration: none;
    color: rgba(246, 247, 235, 0.7);
}

body{
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

aside{
    width: 20vw;
    background-color: var(--dark-purple);
    color: var(--ivory);
}

aside .logo{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 0;
}

aside .username img{
    height: 2rem;
    width: 2rem;
}

aside .logo, aside .username{
    margin-left: 2.9rem;
}

aside .options{
    margin-left: 3.3rem;
}

aside .options a{
    margin-bottom: 1rem;
}

aside .options img{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1.1rem;
}

aside .options img:hover{
    height: 1.5rem;
    width: 1.5rem;
}

aside .options-group{
    display: flex;
    flex-direction: row;
}

aside .settings{
    margin-bottom: 4rem;
}

aside .settings img{
    height: 1.3rem;
    width: 1.3rem;
}

aside .settings img:hover{
    height: 1.5rem;
    width: 1.5rem;
}

main{
    width: 80vw;
}

main .top{
    height: 35vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
}

main .top .notebook{
    margin: 0 auto;
}

main .top input{
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    margin: 8rem auto 0;
    color: rgba(57, 62, 65, 0.28);
}


main .top .addnew{
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 6rem;
}

main .top .addnew:hover{
    height: 3.1rem;
    width: 3.1rem;
}

main .middle{
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(57, 62, 65, 0.70);
}

main .middle p:nth-child(3){
    margin-left: -0.9rem;
}

main .bottom{
    background-color: rgba(57, 62, 65, 0.09);
    height: 65vh;
    position: relative;
}

main .bottom .task-box{
    background-color: #fff;
    height: 5rem;
    width: 90%;
    border-radius: 4px;
    z-index: 10;
    position: absolute;
    top: 1rem;
    left: 5%;
}

main .bottom .task-box2{
    background-color: #fff;
    height: 5rem;
    width: 90%;
    border-radius: 4px;
    z-index: 10;
    position: absolute;
    top: 7rem;
    left: 5%;
}

main .bottom .task p:nth-child(2){
    font-size: 14px;
    color: rgba(57, 62, 65, 0.37);
}

main .bottom .status p{
   color: rgba(57, 62, 65, 0.70);
}

main .bottom .status img{
    height: 1.3rem;
    width: 1.3rem;
}

main .bottom .files img{
    height: 1.7rem;
    width: 1.7rem;
}


/* Media Queries*/

@media (max-width: 1200px){

    aside .hide-on-small{
        display: none;
    }

    aside img{
        margin-bottom: 2rem;
    }

    aside .username img{
        width: 3rem;
        height: 3rem;
    }

    aside .options img{
        height: 1.6rem;
        width: 1.6rem;
    }

    aside .settings img{
        height: 1.6rem;
        width: 1.6rem;
    }

    main{
        width: 100%;
    }

    main .top .addnew{
        margin-left:5rem;
    }

    main .bottom .task-box{
        height: 9rem;
        top: 1rem;
    }

    main .bottom .task-box2{
        height: 9rem;
        top: 11rem;
    }
}

@media (max-width: 1000px){
    main .top .notebook{
        display: none;
    }
    main .top input{
        margin-left: 3rem;
    }
}

@media (max-width: 670px){
    aside .options, aside .settings{
        margin-left: 1.2rem !important;
    }

    aside .logo, aside .username{
        margin: 1.4rem;
    }

    aside {
        width: 15vw;
    }

    aside .logo{
        font-size: 1rem;
        font-weight: 600;
    }

    aside .username img{
        height: 1.5rem;
        width: 1.5rem;
    }
    aside .options img{
        height: 1.2rem;
        width: 1.2rem;
    }

    aside .settings img{
        height: 1.2rem;
        width: 1.2rem;
    }


    main .top input{
        width: 200px;
    }

    main .top .addnew{
        width: 2rem;
        height: 2rem;
    }

    main .top .addnew:hover{
        height: 2.1rem;
        width: 2.1rem;
    }

}